<main role="main" class="container main-margin">

    <div class="jumbotron text-center">
        <h1>የመረጃ ቋት</h1>
        <p class="lead"><strong>የኢትዮጵያ ኦርቶዶክስ ተዋሕዶ በኖርዌይ የቅዱስ ገብርኤል እና አቡነ ተክለ ሃይማኖት ቤተ ክርስቲያን</strong></p>
        <div>
            <a routerLink="/login" class="btn btn-primary">Login</a>
            <a routerLink="/register" class="btn btn-default">Register</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 component">
            <a href>
                <div class="thumbnail">
                    <img src="https://image.flaticon.com/icons/svg/417/417754.svg" alt="Generic placeholder image" width="140" height="140">
                    <div class="caption">
                        <h3>Members</h3>
                        <p>Members Members Members Members Members Members Members Members Members Members Members Members Members Members Members Members.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 component">
            <a href>
                <div class="thumbnail">
                    <img src="../../../assets/images/calendar.svg" alt="Generic placeholder image" width="140" height="140">
                    <div class="caption">
                        <h3>Calendar</h3>
                        <p>Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Calendar Clendar Calendar.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 component">
            <a href>
                <div class="thumbnail">
                    <img src="../../../assets/images/cart.svg" alt="Generic placeholder image" width="140" height="140">
                    <div class="caption">
                        <h3>Inventory</h3>
                        <p>Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory Inventory.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 component">
            <a href="https://www.facebook.com/Etiopiske-Ortodokse-Kirke-i-Norge-%E1%8A%A6%E1%88%B5%E1%88%8E-%E1%89%85%E1%8B%B1%E1%88%B5-%E1%8C%88%E1%89%A5%E1%88%AD%E1%8A%A4%E1%88%8D-%E1%8A%A5%E1%8A%93-%E1%8A%A0%E1%89%A1%E1%8A%90-%E1%89%B0%E1%8A%AD%E1%88%88%E1%88%83%E1%8B%AD%E1%88%9B%E1%8A%96%E1%89%B5-%E1%89%A4%E1%89%B0%E1%8A%AD%E1%88%AD%E1%88%B5%E1%89%B2%E1%8B%AB%E1%8A%95-203734650109061" target="_blank">
                <div class="thumbnail">
                    <img src="../../../assets/images/facebook.svg" alt="placeholder image" width="140" height="140">
                    <div class="caption">
                        <h3>Facebook</h3>
                        <p>Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook Facebook.</p>
                    </div>

                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 component">
            <a href="https://www.youtube.com/channel/UCAz8ArC1xI6eNSMLwjAo-mA/videos" target="_blank">
                <div class="thumbnail">
                    <img src="../../../assets/images/youtube.svg" alt="Generic placeholder image" width="140" height="140">
                    <div class="caption">
                        <h3>Youtube</h3>
                        <p>Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube Youtube.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4 component">
            <a href="http://www.eotcnor.no/" target="_blank">
                <div class="thumbnail">

                    <img src="../../../assets/images/world-wide-web.svg" alt="Generic placeholder image" width="140" height="140">
                    <div class="caption">
                        <h3>Web</h3>
                        <p>Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web Web.</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</main>